<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Задание 1</title>
  </head>
  <body>
    <div id="app">
      <hello-msg v-bind:msg="msg"></hello-msg>
      <todo-add-form v-on:addnewtask="addnewtask"></todo-add-form>
      <todo-search v-on:searchtask="searchtask"></todo-search>
      <todo-filter v-on:changefilter="changefilter"></todo-filter>
      <todo-info v-bind:todoitems="todoItems"></todo-info>
      <todo-list
        v-bind:todoitems="todoItems"
        v-bind:filter="filter"
        v-bind:filtertext="filtertext"
        v-on:changedone="changedone"
      ></todo-list>
    </div>

    <script>
      Vue.component("hello-msg", {
        props: {
          msg: String,
        },
        template: `<h1>{{msg}}</h1>`,
      });

      Vue.component("todo-list", {
        props: {
          filter: String,
          filtertext: String,
          todoitems: Array,
        },
        template: ` <h1 v-if="todoitems.length==0">Please add new task!</h1>
                  <ol v-else class="list-group list-group-numbered">
                  <todo-item v-for="todoItem in filteredItems" v-bind:todo="todoItem" v-on:changedone="changedone"></todo-item>
                  </ol>`,
        methods: {
          changedone(id) {
            this.$emit("changedone", id);
          },
        },
        computed: {
          filteredItems() {
            let todos = this.todoitems.filter(
              (item) =>
                item.text.toLowerCase().indexOf(this.filtertext.toLowerCase()) >
                -1
            );
            if (this.filter == "all") return todos;
            if (this.filter == "completed")
              return todos.filter((item) => item.done);
            if (this.filter == "inorder")
              return todos.filter((item) => !item.done);
          },
        },
      });

      Vue.component("todo-item", {
        props: {
          todo: {
            type: Object,
          },
        },
        template: `<li class="list-group-item">
                  {{todo.text}} <todo-btn v-bind:todo="todo" v-on:changedone="changedone"></todo-btn>
                  </li>`,
        methods: {
          changedone(id) {
            this.$emit("changedone", id);
          },
        },
      });

      Vue.component("todo-btn", {
        props: {
          todo: {
            type: Object,
          },
        },
        template: `<button type="button" class="btn" :class="[todo.done ? 'btn-success' : 'btn-secondary']" v-on:click="changedone">{{getBtnText}}</button>`,
        methods: {
          changedone(id) {
            this.$emit("changedone", this.todo.id);
          },
        },
        computed: {
          getBtnText() {
            if (this.todo.done) return "completed";
            else return "in order";
          },
        },
      });

      Vue.component("todo-info", {
        props: {
          todoitems: Array,
        },
        template: `<div>
                <div class="badge bg-primary">Completed task {{getCompleted}}</div>
                <div class="badge bg-primary">All tasks {{getAllTask}}</div>
                <div class="badge bg-primary">Percent complete task {{getPercent}}%</div>
                </div>`,
        computed: {
          getCompleted() {
            return this.todoitems.filter((todo) => todo.done).length;
          },
          getAllTask() {
            return this.todoitems.length;
          },
          getPercent() {
            return Math.round(
              (this.todoitems.filter((todo) => todo.done).length /
                (this.todoitems.length || 1)) *
                100
            );
          },
        },
      });

      Vue.component("todo-add-form", {
        template: `<div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Add new task" aria-label="Recipient's username" aria-describedby="button-addon2" v-model.trim='text'>
                  <button class="btn btn-outline-secondary" type="button" id="button-addon2" v-on:click="addnewtask" :disabled="text.length == 0">Add</button>
              </div>`,
        methods: {
          addnewtask(text) {
            this.$emit("addnewtask", this.text);
            this.text = "";
          },
        },
        data() {
          return {
            text: "",
          };
        },
      });

      Vue.component("todo-filter", {
        props: {
          todo: {
            type: Object,
          },
        },
        template: `<select class="form-select" @change="changefilter" v-model='filter' aria-label="Default select example">
                <option selected value="all">all</option>
                <option value="completed">completed</option>
                <option value="inorder">in order</option>
              </select>`,
        data() {
          return {
            filter: "all",
          };
        },
        methods: {
          changefilter(filter) {
            this.$emit("changefilter", this.filter);
          },
        },
      });

      Vue.component("todo-search", {
        template: `<div class="input-group mb-3">
                  <input type="text" @input="searchtask" class="form-control" placeholder="Search item" aria-label="Recipient's username" aria-describedby="button-addon2" v-model='text'>
              </div>`,
        methods: {
          searchtask(text) {
            this.$emit("searchtask", this.text);
          },
        },
        data() {
          return {
            text: "",
          };
        },
      });

      var app = new Vue({
        el: "#app",
        data: {
          msg: "Hello from Vue App",
          todoItems: [
            // { id: 1, text: "task 1", done: false },
            // { id: 2, text: "task 2", done: false },
            // { id: 3, text: "task 3", done: true },
            // { id: 4, text: "task 4", done: false },
            // { id: 5, text: "task 5", done: false },
          ],
          filter: "all",
          filtertext: "",
        },
        methods: {
          changedone(id) {
            for (let i = 0; i < this.todoItems.length; i++) {
              if (this.todoItems[i].id == id) {
                this.todoItems[i].done = !this.todoItems[i].done;
                break;
              }
            }
          },
          addnewtask(text) {
            let newId;
            if (this.todoItems.length == 0) newId = 1;
            else
              newId =
                Math.max(
                  ...Object.values(this.todoItems).map((elem) => elem.id)
                ) + 1;
            this.todoItems.push({ id: newId, text: text, done: false });
          },
          changefilter(filter) {
            this.filter = filter;
          },
          searchtask(text) {
            this.filtertext = text;
          },
        },
      });
    </script>
  </body>
</html>
